---
import Bekicot from "../assets/bekicot.jpg"
import Image from "astro/components/Image.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Meja from "../components/Meja.astro"
import * as ImageLoader from "../scripts/imageLoader";
import {  getDatabase } from "../scripts/database";
export const prerender = false;

const { res: dataMeja } = await getDatabase("meja") as any;
// biar bisa ngambil parameter url
const { id_menu, id_meja, jumlah_pesanan } = Object.fromEntries(Astro.url.searchParams.entries());
const { res: menus } = await getDatabase("menu", `WHERE id_menu = ${id_menu}`) as any;
const menu = menus[0];
console.log(id_meja)

let jml_pesanan = parseInt(jumlah_pesanan.split(",")[0]);

---

<Layout>
    <Navbar />
    <div class="container">
        <h2 class="container-item">{menu.nama}</h2>
        <hr>
        <div class="container-item">
            <h3>Pesanan Anda</h3>
            <div class="pesanan">
                <Image src={ImageLoader.images[parseInt(menu.id_menu)-1] ?? Bekicot} alt="menu" />
                <div class="info-pesanan">
                    <div>
                        <p class="nama">{menu.nama}</p>
                        <p>{menu.deskripsi}</p>
                    </div>
                    <div>
                        <p class="harga">Rp {menu.harga},00</p>
                    </div>
                </div>
            </div>
            <div class="jumlah-pesanan">
                <div>Jumlah Pesanan:</div>
                <div class="input-jumlah">
                    <a href={`/pesan?id_menu=${id_menu}&jumlah_pesanan=${jml_pesanan > 1 ? jml_pesanan-1 : jml_pesanan},${id_meja ? `&id_meja=${id_meja}` : "" }`}>-</a>
                    <form>
                        <input type="text" name="" id="inputJumlah" value={jml_pesanan}>
                    </form>
                    <a href={`/pesan?id_menu=${id_menu}&jumlah_pesanan=${jml_pesanan+1},${id_meja ? `&id_meja=${id_meja}` : "" }`}>+</a>
                </div>
            </div>
            <h3>Detail Pesanan</h3>
            <div class="detail-pesanan">
                <p>Pilih meja: </p>
                <Meja dataMeja={dataMeja}/>
                {
                    id_meja ? <div class="info-meja">
                        <p>Nomor Meja: {id_meja}</p>
                        <p>Kapasitas: {dataMeja[parseInt(id_meja)-1]?.kapasitas}</p>
                        <p>Lokasi: {dataMeja[parseInt(id_meja)]?.lokasi}</p>
                    </div> : ""
                }
                
            </div>
        </div>
        <div class="container-item">
            <a href="" class="checkout">Pesan</a>
        </div>
    </div>
</Layout>

<script>
    const inputJumlah = document.getElementById("inputJumlah") as HTMLInputElement;
    if (!inputJumlah) return;

    inputJumlah.addEventListener("input", () => {
    });
</script>

<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .container {
        padding: 2px 0px;
        margin: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    }

    hr {
        border: 1px dashed #f0f0f0;
    }

    .container-item {
        margin: 20px 30px;
        display: flex;
        flex-direction: column;
    }

    .pesanan {
        background-color: #f0f0f0;
        border-radius: 8px;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        gap: 10px;
    }

    .detail-pesanan {
        background-color: #f0f0f0;
        padding: 0px 20px;
        border-radius: 8px;
    }

    .info-meja {
        padding-bottom: 10px;
    }

    .info-meja p {
        line-height: 8px;
    }

    .pesanan img {
        width: 120px;
        height: 100%;
    }

    .jumlah-pesanan {
        display: flex;
        justify-content: space-between;
    }

    .input-jumlah {
        display: flex;
        gap: 10px;
    }

    .input-jumlah a {
        background-color: #1581e7;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        width: 24px;
        border-radius: 30px;
    }

    .input-jumlah input {
        width: 50px;
    }

    
	input:focus {
		outline: none;
	}

    .info-pesanan {
        line-height: 10px;
        display: flex;
        flex-direction: column;
    }

    .nama {
        font-weight: bold;
    }

    .harga {
        font-size: large;
        font-weight: 600;
        color: #1581e7;
    }

    .checkout {
        transition: all 0.4s ease-in-out;
		padding: 10px;
        text-decoration: none;
        background-color: #1581e7;
        border-radius: 8px;
        text-align: center;
        color: #fff;
		cursor: pointer;
    }

    .checkout:hover {
        background-color: #136cc0;
    }

    @media only screen and (min-width: 1300px) {
        .container {
            justify-content: center;
            width: 40%;
            height: 100%;
            margin: auto;
        }
    }
</style>