---
import Card from './Card.astro'
import { getDatabase } from '../scripts/database'

const { res: menus } = await getDatabase("menu") as any;
---

<div class="container">
    {
        menus?.map((menu: any) => <Card nama={menu.nama} harga={menu.harga} deskripsi={menu.deskripsi} deskripsi={menu.deskripsi} kategori={menu.kategori} status={menu.status} />)
    }
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 25px;
    }
</style>