---
import Card from './Card.astro'
import { getDatabase } from '../scripts/database'

const { res: menus } = await getDatabase("menu") as any;
---

<div>
    {
        menus?.map((menu: any) => <Card nama={menu.nama} harga={menu.harga} deskripsi={menu.deskripsi} deskripsi={menu.deskripsi} status={menu.status} />)
    }
</div>